---
layout: default
---

<section class="row" role="main">
	{% for post in paginator.posts %}
	<article class="post">
		<header class="post-header">
			<h3 class="post-title"><a href="{{post.url}}">{{post.title}}</a></h3>
			{% if post.author %}
			<p>Post by {{post.author}}</p>
			{% endif %}
		</header>
		<section class="post-excerpt">
			<p>"{{ post.excerpt | strip_html }}"&hellip;</p>
		</section>
	</article>
	{% endfor %}
</section>

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
</div>
