<nav id="menu">
  <ul class="nav">
    {% for my_page in site.pages %}
      {% if my_page.title == page.url %}
        <li class="nav-{{my_page.slug}} nav-current"><a href="{{ my_page.url | prepend: site.baseurl }}">{{my_page.title}}</a></li>
      {% elsif my_page.title %}
        <li class="nav-{{my_page.slug}}"><a href="{{ my_page.url | prepend: site.baseurl }}">{{my_page.title}}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

<header class="row">

    <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <p>{{ site.description }}</p>

</header>
