<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav id="menu">
      <ul class="nav">
    		{% for my_page in site.pages %}
          {% if my_page.title == page.url %}
        		<li class="nav-{{my_page.slug}} nav-current"><a href="{{ my_page.url | prepend: site.baseurl }}">{{my_page.title}}</a></li>
          {% elsif my_page.title %}
            <li class="nav-{{my_page.slug}}"><a href="{{ my_page.url | prepend: site.baseurl }}">{{my_page.title}}</a></li>
          {% endif %}
        {% endfor %}
    	</ul>
    </nav>


      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{  }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

    <ul class="social-media-list">
      {% if site.github_username %}
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      {% endif %}

      {% if site.twitter_username %}
      <li>
        {% include icon-twitter.html username=site.twitter_username %}
      </li>
      {% endif %}
    </ul>

  </div>

</header>
