<nav id="menu">
  <ul class="nav">
    <li><a href="http://shawnajean.tech">Home</a></li>
    <li><a href="http://me.shawnajean.tech">Me</a></li>
    <li>
        <a href="{{ site.baseurl }}/">
            <span class="alignable back-outer">
                <span class="alignable back-inner">
                </span>
            </span>
        </a>
    </li>
  </ul>
</nav>

<header class="row">

    <h1><a href="{{ site.baseurl }}/">{{ site.site_heading }}</a></h1>
    <p>{{ site.description }}</p>

</header>
